* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: 75vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading {
    background-color: #081b31;
    border-radius: 1rem;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

.choices {
    gap: 3rem;
    margin-top: 5rem;
}

.img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.choice:hover {
    background-color: #081b31;
    cursor: pointer;
}

.score-board {
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#comp-score,
#user-score {
    font-size: 4rem;
}

.msg-box {
    margin-top: 5rem;
}

.msg {
    color: #fff;
    background-color: #081b31;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

.git{
    color: #000;
    text-decoration: none;
    display: block;
    margin: 20px;
    font-size: 1.5rem;
}

.git:active{
    text-decoration: none;
    color:#000000;
}


@media only screen and (max-width:767px) {
    .img {
        height: 85px;
        width: 85px;
    }

    .choice {
        height: 100px;
        width: 100px;
    }

    .msg {
        color: #fff;
        background-color: #081b31;
        display: inline;
        font-size: 1.3rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    #comp-score,
    #user-score {
        font-size: 3rem;
    }

    .choices {
        gap: 1rem;
    }

}
